$roboto: 'Roboto', sans-serif;
$opensans: 'Open Sans', sans-serif;

$light-grey: #d8d8d8;
$baccol: #f3f3f3;

$light-blue-1: #e5edf9;
$light-blue-2: #a3c4f7;

$dark-blue: #1e77fc;

$soft-black: #464646;